<footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a routerLink="/">Home</a>
        <a routerLink="/stores">Stores</a>
        <a routerLink="/surprise-bags">Surprise Bags</a>
        <a routerLink="/settings">Settings</a>
      </div>
      <p>&copy; Leftover 2025. All rights reserved.</p>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank">Facebook</a> |
        <a href="https://twitter.com" target="_blank">Twitter</a> |
        <a href="https://instagram.com" target="_blank">Instagram</a>
      </div>
    </div>
  </footer>
  